@import "compass";

$black: #000532;
$magenta: #ED1A3B;
$yellow: #F79433;
$green: #00B26B;
$blue: #56C5D0;
$violet: #524FA1;
$white: #FFFFFF;

@import "_fonts.scss";

$base-font-family: "SourceCodePro";