@import "_base.scss";

body {
    background-color: #000532;
    color: $yellow;
	font-family: $base-font-family;
    font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}

.ui-page {
    background-color: $black;
}

a {
    text-decoration: none;
}

.tpl {
    display: none;
}

.twitter-tweet {
    white-space: normal;
    font-size: small
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
    min-height: 48px;
    padding-left: 60px;
    padding-top: 0px;
}

.ui-page {
  -webkit-backface-visibility: hidden !important;
}

.header {position:fixed;z-index:10;top:0;width:100%}
.footer {position:fixed;z-index:10;bottom:0;width:100%}

@import "_jquery-mobile_29c3.scss";

.event-cell {
  background-color: $yellow;
  padding: 4px;
  vertical-align: top;
}

.ui-body-c {
  .event-cell {
    a,
    a:hover,
    a:visited {
      display: block;
      color: $black;
      width: 100%;
      height: 100%;
    }
  }

  .event-cell.event-attend {
    background-color: $green;
  }

}

.ui-navbar .ui-btn-active {
  color: $black;
}

.ui-checkbox {
  .ui-btn-icon-left .ui-btn-inner {
  }
  .ui-btn-up-c {
    background: $yellow;
    border: none;
    font-weight: normal;
    color: $black;
  }
  &.attended {
    .ui-btn-up-c,
    .ui-btn-up-c:hover {
      background: $green;
    }
  }
}